{% for blocks in section.blocks %}
  {% case block.type %}
    {% when 'article-title' %}
      <h1>{{ article.title }}</h1>
    {% when 'article-author' %}
      {% if section.settings['enable-author'] %}
        <small>{{ article.author }}</small>
      {% endif %}
    {% when 'article-published-date' %}
      {% if section.settings['enable-published-date'] %}
        <time datetime="{{ article.published_at | date: "%d-%m-%y" }}">
          {{- article.published_at | date: '%d-%m-%y' -}}
        </time>
      {% endif %}
    {% when 'article.thumbnail' %}
      <img src="{{ article.image | image_url: 'large' }}" alt="{{ article.img.alt }}" height="100" width="100">
      <div>{{ article.content }}</div>
    {% else %}

  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable-author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable-published-date",
      "label": "Display Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article-title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article-author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article-published-date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "thumbnail",
      "name": "Featured Image",
      "limit": 1
    },
    {
      "type": "article-content",
      "name": "content",
      "limit": 1
    }
  ]
}
{% endschema %}
