<h1>{{ article.title }}</h1>
<small>{{ article.author }}</small>
<time datetime="{{ article.published_at | date: "%d-%m-%y" }}">{{ article.published_at | date: '%d-%m-%y' }}</time>
<img src="{{ article.image | image_url: 'large' }}" alt="{{ article.img.alt }}" height="100" width="100">
