# Header

<div class="header">
  <div class="header-left">
    <h1 class="shop-name">{{ shop.name }}</h1>
  </div>
  <div class="header-middle">
    <nav class="navigation-menu">
      <ul>
        {% for link in linklists.main-menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links %}
              <ul x-data="{ open: false }" @click.away="open = false">
                <li @click="open = !open" class="dropdown-toggle">{{ link.title }}</li>
                <ul x-show="open" class="dropdown-menu">
                  {% for sublink in link.links %}
                    <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                  {% endfor %}
                </ul>
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="header-right">
    <div class="user-links">
      <a href="/account">Account</a>
      <a href="/cart">Cart</a>
    </div>
  </div>
</div>

<div x-data="{ open: false }" class="mobile-header">
  <div class="mobile-header-left">
    <h1 class="shop-name">{{ shop.name }}</h1>
  </div>
  <div class="mobile-header-right">
    <button @click="open = !open" class="menu-button">Menu</button>
  </div>
  <div x-show="open" class="mobile-menu">
    <nav class="mobile-navigation-menu">
      <ul>
        {% for link in linklists.main-menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links %}
              <ul>
                {% for sublink in link.links %}
                  <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="mobile-user-links">
      <a href="/account">Account</a>
      <a href="/cart">Cart</a>
    </div>
  </div>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .navigation-menu ul {
    list-style: none;
    display: flex;
  }
  .navigation-menu li {
    margin: 0 15px;
    position: relative;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .dropdown-menu li {
    margin: 0;
  }
  .mobile-header {
    display: none;
  }
  @media (max-width: 768px) {
    .header {
      display: none;
    }
    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .mobile-menu {
      display: none;
    }
    .mobile-menu[style*="display: block"] {
      display: block;
    }
  }
</style>
